@charset "UTF-8";


footer{
	position:relative;
	background-color: #000;
	width: 100%;
	height: 3%;
	
}

footer ul{
	align-items:center;
}

footer ul li{
	color : white ;
	align-items:center;
	
}

.footerDiv{
	align-content: center;
	text-align: center;
}

