<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.root.user.dao.UserDAO">

	<resultMap type="com.simple.root.user.UserDTO" id="userDTO">
		<result property="userName" column="userName" />
		<result property="password" column="password" />
		<result property="createDate" column="createDate" />
	</resultMap>


	<insert id="SaveUser">
		insert into UserTableSAS
		values(#{userName},#{password},sysdate)
	</insert>


	<select id="loginUser" resultMap="userDTO">
		select * from UserTableSAS where userName = #{userName}
	</select>



</mapper>



